<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<div style="width:480px; height:160px; ">

  <div style="float:left; width:20%; height: 10%; margin-left:20%; margin-top:25%;">
    <button id="recode" name="open" onclick="window.open('../recode_video','popUpWindow','height=360,width=500,left=0,top=0,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');" data-toggle="modal" class="btn btn-danger" > 영상촬영  </button>
    <button id="feedback" name="open" onclick="window.open('../feedback','popUpWindow','height=340,width=480,left=0,top=0,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');" data-toggle="modal" class="btn btn-danger"style="margin-top:50px"> 피드백  </button>
  </div>
  <div style="float:left; width:20%; height: 10%; margin-left:15%; margin-top:25%;">
    <button id="web_server" name="open" href="#" data-toggle="modal" class="btn btn-danger"> 웹저장소 시작  </button>
    <button id="env" name="open" onclick="window.open('../env_settings','popUpWindow','height=340,width=480,left=0,top=0,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');" data-toggle="modal" class="btn btn-danger" style="margin-top:50px"> 환경설정  </button>
  </div>


  <div style="clear:both;"></div>

</div>

<script type="text/javascript">

  $('#web_server').click(function() {

            var status = document.getElementById("web_server").name

            var data = {'data' : status }
            $.ajax({
                url: '/settings/web_server',
                type: 'GET',
                async: false,
                data : data,
                dataType: 'json',
                success: function (data) {
                    if(data['status'] == 'open'){
                      document.getElementById("web_server").innerText = "웹저장소 종료";
                      document.getElementById("web_server").name = "close";
                    }
                    else{
                      document.getElementById("web_server").innerText = "웹저장소 시작";
                      document.getElementById("web_server").name = "open";
                    }
                    alert(data['message']);
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n\n"+"message:"+request.responseText);
                },
                cache: false,

            });
        });

</script>



</html>

